.home-page {
  .Enquiry-page {
    padding-top: 5rem;
    @media #{$sm} {
      padding-top: 2rem;
    }
    .Title{
      margin-bottom: 2rem;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      color: $primary-color;
      @media #{$sm} {
        font-size: 22px;
      }
    }
    .Enquiry {
      //padding: 0 8rem;
      height: 70vh;
      // background-image: url("../../../assets/images/ug-images/1920x967.jpg");
      //background-size: cover;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 888;
      transition: background-size 1s ease-in-out;
      &:hover{
        background-size: 120% /* work with the background-size */
      }
      //@media #{$sm} {
      //  height: 50vh !important;
      //  padding: 0;
      //}
      @media #{$md,$lg} {
        background-size: cover;
      }
      // @media #{$xl} {
      //   height: 80vh ;
      // }
      @media #{$xxl} {
        height: 80vh;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.5);
      }
      .description-column {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        //margin-top: 5rem;
        .cardStyle{
          margin-top: 20rem;
          width: 100%;
          box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
          border-radius: 50px;
          padding: 1rem 2rem;
          @media #{$md} {
            width: 100%;
            padding: 1.5rem;
          }
          .intro-title {
            font-size: 25px;
            color: $bg-color;
            margin-bottom: 1rem;
            text-align: center;
            font-weight: 700;
            //@media #{$sm} {
            //  font-size: 20px;
            //}
          }
          .subTitle{
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            //@media #{$sm,$xsm} {
            //  font-size: 16px !important;
            //}
          }
          .formFields{
            border-radius: 60px;
            //border: 1px solid;
            //border-image-slice: 1;
            //border-image-source: $gradient;
          }
          .enroll{
            background: $bg-color;
            border: none;
            color: white;
            padding: 0.5rem 3rem;
            margin-top: 1rem;
            border-radius: 20px;
          }
          .enroll:hover{
            border: 1px solid $bg-color;
            background: $hover-color;
            color: $primary-color;
          }
        }

      }
      .op-div {
        display: flex;
        background: #5252527a;
        height: inherit;
        width: 100%;
        /*z-index: 4;*/
        position: absolute;
      }
      .wavy-div {
        display: flex;
        width: 100%;
        height: 100%;
        /*background: #1A2C52;*/
        margin-top: 30%;
        position: relative;
        &::before{
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-position: center;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url("../../../assets/images/about/path_bg.png");
        }
      }
    }
    //Design On MbL Screen
    .cardStyleMBL{
      width: 100%;
      box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      padding: 1rem;
      margin-bottom: 1rem;
      .intro-title {
        font-size: 22px;
        color: $bg-color;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 700;
      }
      .subTitle{
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        @media #{$sm,$xsm} {
          font-size: 16px !important;
        }
      }
      .formFields{
        border-radius: 60px;
        //border: 1px solid;
        //border-image-slice: 1;
        //border-image-source: $gradient;
      }
      .enroll{
        background: $bg-color;
        border: none;
        color: white;
        padding: 0.5rem 3rem;
        margin-top: 1rem;
        border-radius: 20px;
      }
      .enroll:hover{
        border: 1px solid $bg-color;
        background: $hover-color;
        color: $primary-color;
      }
    }
  }
}