.product-deals{
    padding: 3rem;
    .MainTitle{
        font-size: 25px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 2rem;
        @media #{$sm} {
          font-size: 20px;
        }
    }
    .badgeStyle{
      background: #F14705;
      width: 62px;
      height: 62px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: $white;
      font-weight: 400;
    }
    .title{
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 0 !important;
    }
    .subtitle{
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0.5rem !important;
    }
    .starStyle{
      color: $bg-color;
      font-size: 12px;
    }
    .reviewStyle{
      font-size: 12px;
      font-weight: 400;
      color: #C4C4C4;
    }
    .codestyle{
      font-size: 16px;
      font-weight: 400;
    }
    .code1style{
      font-size: 16px;
      font-weight: 500;
      color: #669900;
    }
    .productBtn{
        font-weight: 700 ;
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 18px ;
        padding: 0.5rem 2rem ;
        background: $bg-color;
        box-shadow: 0px 4px 10px rgba(136, 96, 96, 0.1) !important;
        border-radius: 60px;
        &:hover {
          background: black;
          color: $bg-color;
        }
        @media #{$md} {
          font-size: 16px !important;
          padding: 0.7rem 3rem !important;
        }
        @media #{$sm,$xsm,$tiny} {
          font-size: 16px !important;
          padding: 0.5rem 2rem  !important;
        }
    }
}