.join-tamdeed{
    margin-top: 2rem;
    padding: 4rem 12rem;
    background: $backgroundsColors;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media #{$sm} {
        padding: 3rem 1rem;
    }
    .title{
        color: $white;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;
    }
    .subtitle{
        color: $white;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 1rem;
        text-align: center;
    }
    .btnStyle{
        border: 0;
        background: $white;
        border-radius: 56px;
        color: $bg-colors;
        padding: 0.5rem 2rem;
        margin-top: 1rem;
        &:hover{
            border: 1px solid $white; 
            background: $backgroundsColors;
            color: $white;
        }
    }
}