.Curriculum-page{
  padding-top: 1.5rem;
  //padding-top: 3rem;
  @media #{$sm} {
    padding-top: 2rem;
  }
  .Title{
    margin-bottom: 2rem;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
    // position: absolute;
    // left: 34%;
    // bottom: -109%;
    z-index: 999;
    color: $primary-color;
    @media #{$sm,$md} {
      font-size: 22px;
    }
    // @media #{$lg} {
    // }
    //@media #{$_2xl} {
    //  left: 34%;
    //  bottom: 8%;
    //}
    //@media #{$_4xl} {
    //  left: 39%;
    //  bottom: 3%
    //}
  }
  .Curriculum {
    //padding: 0 10rem;
    //overflow: hidden;
    height: 100vh;
    margin-top: -9rem;
    // background-image: url("../../../assets/images/ug-images/1920x967.jpg");
    //background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 888;
    transition: background-size 1s ease-in-out;
    &:hover{
      background-size: 120% /* work with the background-size */
    }
    @media #{$lg} {
      height: 45vh !important;
      background-size: cover;
      //align-items: flex-start !important;
      padding: 0;
    }
    @media #{$md} {
      background-size: cover;
    }
     //@media #{$_2xl} {
     //  height: 50vh;
     //}
    @media #{$xxl} {
      height: 80vh;
    }
    //@media #{$_4xl} {
    //  height: 50vh;
    //}
    //&::before {
    //  content: "";
    //  position: absolute;
    //  top: 0;
    //  z-index: -1;
    //  width: 100%;
    //  height: 100%;
    //  background: rgba($color: #000000, $alpha: 0.5);
    //}
    .description-column {
      //display: flex;
      //justify-content: center;
      //align-items: center;
      //position: absolute;
      .cardStyle{
        padding: 1rem;
        width: 950px;
        border-radius: 30px;
        @media #{$sm,$md} {
          width: 100%;
          padding: 1.5rem 1rem;
        }
        .viewButton{
          font-weight: 500;
          background: transparent;
          border-bottom: 1px solid black;
          border-left: 0;
          border-right: 0;
          border-top: 0;
          margin: 0 2rem;
          @media #{$sm,$md} {
            margin: 0;
          }
        }
        .intro-title {
          font-size: 25px;
          color: $bg-color;
          text-align: center;
          font-weight: 700;
          @media #{$sm} {
            font-size: 25px;
            margin-bottom: 1rem;
          }
        }
        .subtitle{
          margin-top: 0.5rem;
          font-size: 1rem;
          text-align: justify;
          font-weight: 500;
          @media #{$sm,$md} {
            margin-top: 0;
          }
        }
      }
    }
    .op-div {
      display: flex;
      background: #5252527a;
      height: inherit;
      width: 100%;
      /*z-index: 4;*/
      position: absolute;
    }
    .wavy-div {
      display: flex;
      width: 100%;
      height: 250px;
      /*background: #1A2C52;*/
      margin-top: 40%;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-position: center;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../../assets/images/agsbackgrounds/Path 4.1.png");
      }
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        top: -490px;
        left: 0;
        z-index: 1200;
        height: 220px;
        background-position: center;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../../assets/images/agsbackgrounds/uppercurve.png");
        //@media #{$lg} {
          //top:5px;
          //height: 170px;
        //}
      }
    }
  }
  //Design on mbl screen
  .cardStyleMBL{
    width: 100%;
    padding: 0 1rem;
    border-radius: 30px;
    .viewButton{
      font-weight: 500;
      background: transparent;
      border-bottom: 1px solid black;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 0;
    }
    .intro-title {
      font-size: 22px;
      color: $bg-color;
      text-align: center;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .subtitle{
      font-size: 16px;
      text-align: justify;
      font-weight: 500;
      margin-top: 0;
    }
  }
}