.ags-portal-page{
  padding-top: 7rem;
  @media #{$sm,$md} {
      padding-top: 2rem;
    }
    .subtitle{
      padding: 0 22rem;
      font-size: $sub-fonts;
      text-align: center;
      font-weight: 500;
      margin-bottom: 2rem;
      @media #{$sm} {
        margin-bottom: 1rem;
        padding: 0 2rem;
      }
      @media #{$lg} {
        padding: 0 12rem;
      }
      @media #{$md} {
        padding: 0 4rem;
      }
    }

  .agsPortal {
    height: 65vh;
    //background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 888;
    transition: background-size 1s ease-in-out;
    &:hover{
      background-size: 120% /* work with the background-size */
    }
    @media #{$lg} {
      height: 24vh;
      background-size: cover;
    }
    // @media #{$md} {
    //   background-size: cover;
    //   height: 20vh;
    // }
  
    @media #{$xxl} {
      height: 45vh;
    }

    .description-column {
      margin-top: 10rem;
      @media #{$sm,$md} {
        margin-top: 0;
      }
      .btn-holder {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        flex-wrap: wrap;
        @media #{$sm} {
          margin-top: 0;
        }
        @media #{$md} {
          margin-top: 30px;
          flex-wrap: nowrap;
        }
        @media #{$lg} {
          margin-top: 17px;
          flex-wrap: nowrap;
        }
    
        .btn {
          //margin: 0 1rem;
          button {
            outline: none;
            border-radius: 60px;
            border: none;
            background-color: $white;
            color: $primary-color;
            font-size: 20px;
            width: 300px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            @media #{$sm} {
              width: 150px;
              font-size: 14px;
              background: $bg-color;
              color: $white;
            }
            @media #{$md} {
              font-size: 18px;
              width: 200px;
            }
    
            &:hover {
              background-color: $bg-color;
              color: $white;
              @media #{$sm} {
                background-color: $white;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
  .footer-info{
    padding-top: 2rem;
    @media #{$sm} {
      padding-top: 1rem;
    }
    .txt{
      p{
        margin-bottom: 0;
        font-size: $sub-fonts;
      }
    }
    .email{
      a{
        color: $bg-color;
        text-decoration: none;
        font-size: $sub-fonts;
      }
    }
    .phone{
      a{
        color: $bg-color;
        text-decoration: none;
        font-size: $sub-fonts;
      }
    }
  }
  .mblScreenInfo{
    @media #{$sm} {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  }
  .mblEmailSpace{
    @media #{$sm} {
    margin-top: 0.5rem;
    }
  }
  //On Mbl Screen
  .btn-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-wrap: wrap;
    @media #{$sm} {
      margin-top: 0;
    }
    @media #{$md} {
      margin-top: 30px;
      flex-wrap: nowrap;
    }
    @media #{$lg} {
      margin-top: 17px;
      flex-wrap: nowrap;
    }

    .btn {
      //margin: 0 1rem;
      button {
        outline: none;
        border-radius: 60px;
        border: none;
        background-color: $white;
        color: $primary-color;
        font-size: 20px;
        width: 300px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        @media #{$sm} {
          width: 200px;
          font-size: 14px;
          background: $bg-color;
          color: $white;
        }
        @media #{$md} {
          font-size: 18px;
          width: 200px;
          background: $bg-color;
          color: $white;
        }

        &:hover {
          background-color: $bg-color;
          color: $white;
          @media #{$sm,$md} {
            background-color: $white;
            color: $primary-color;
          }
        }
      }
    }
  }
}