.mediaBanner{
    .hero-image {
        background-color: #cccccc;
        height: 95vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background: linear-gradient(86.2deg, #ECFFF1 9.58%, #FEEDF9 30.29%, #EDEDFA 40.51%, #FEFEEC 52.59%, #EDF5FA 67.45%, #FEF0EC 79.53%, #EDF0FF 98.76%);
        // clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
        @media #{$md} {
          height: 50vh;
        }
        @media #{$lg} {
          height: 50vh;
        }
        @media #{$sm,$xsm,$tiny} {
          height: 350px;
        }
        &::before{
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 200px;
          background: $white;
          clip-path: polygon(100% 50%, 0 100%, 100% 100%);
        }
        .bannerBtn{
          background: $backgroundsColors;
          border: none;
          color: $white;
          padding: 0.5rem 3rem;
          border-radius: 38px;
          margin-top: 8rem;
          margin-right: 3rem;
          font-weight: 400;
          font-size: 18px;
          &:hover{
            background: $white;
            border: 1px solid $backgroundsColors;
            color: $backgroundsColors;
          }
          }
      .hero-text {
          text-align: left;
          position: absolute;
          top: 65%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: Black;
          @media #{$md} {
            top: 50%;
            left: 50%;
          }
          @media #{$lg} {
            top: 60%;
            left: 19%;
          }
          @media #{$sm,$xsm ,$tiny} {
            top: 50%;
            left: 50%;
          }
          
          .banner-title{
            font-weight: 400;
            font-size: 50px;
            margin-bottom: 0.5rem;
            color: white;
            @media #{$md} {
              text-align: center;
              font-size: 30px;
            }
            @media #{$sm,$xsm} {
              font-size: 20px ;
              text-align: center;
            }
          }
          .banner-subtitle{
            font-weight: 400;
            font-size: 25px;
            color: white;
            @media #{$md} {
              font-size: 20px;
              text-align: center;
            }
            @media #{$sm,$xsm} {
              font-size: 17px ;
              text-align: center;
            }
          }
        }
        .bannerImg{
          width: 600px;
          height: 400px;
          margin-bottom: -38rem;
          z-index: 1;
        }
        .bannerImg2{
          width: 50px;
          height: 350px;
          margin-bottom: -38rem;
          z-index: 1;
          filter: blur(8px);
          -webkit-filter: blur(8px);
        }
      }
}

.mediaCenterHeroImg {
  background-size: 109% !important;
  background-position: 65% 129% !important;
}