.Ages {
  z-index: 1111;
  .Title {
    font-size: 20px;
    font-weight: 700;
    color: $bg-color;
  }
  .UlStyle{
    color: $bg-color;
    font-size: 20px;
    font-weight: 500;
  }
  .SubTitle{
    color: $bg-color;
    font-size: 20px;
    font-weight: 500;
  }
  .modalIconArabic{
    transform: rotate(180deg);
    margin-left: 0 !important;
    margin-right: 1rem;
  }
  .modalIcon{
    background: $bg-color;
    color: $white;
    padding: 1.5rem;
    border-radius: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-body {
    padding: 0 3rem 2rem 3rem;
    @media #{$sm} {
      padding: 0 1rem 2rem 1rem;
    }
  }
  .modal-content{
    border-radius: 60px;
  }
  .TableMB{
    @media #{$sm} {
      width: 900px;
    }
  }
  .table thead th {
    border-bottom: 1px solid #CDB786;
    border-top: none;
  }

  .table td {
    border-bottom: 1px solid #CDB786;
  }
}
.agsModalDir{
  direction: ltr;
}
.agsModalDirArabic{
  direction: rtl;
}