.home-page {
  color: #555;
  .welcome {
    padding-top: 3rem;
    text-align: center;
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-color;
    }
    .description {
        margin-top: 2rem;
    }
  }
}
