.SchoolTopspacing {
  padding-top: 7rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
    .Title{
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 2rem;
      text-align: center;
      @media #{$sm,$md} {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
    .subTitle {
      font-size: 16px;
      font-weight: 400;
      // margin-bottom: 2rem;
    }
    .headline{
      color: $bg-color;
      font-weight: bold;
    }
    .subTitle ul, .subTitle ol{
      margin: 0;
      font-size: 16px;
      padding-left: 15px;
    }

    @media #{$sm,$lsm,$xsm,$tiny} {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    @media #{$md} {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    @-webkit-keyframes ripple-white {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
      }
    }

    @keyframes ripple-white {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
      }
    }


    .video-promo-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .video-play-icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
      -webkit-animation: ripple-white 1s linear infinite;
      animation: ripple-white 1s linear infinite;
      -webkit-transition: 0.5s;
    }
    .imgheight{
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: con;
      background-image: linear-gradient(to bottom, rgba(0, 159, 227, 0.05) 0%, rgba(41, 168, 78, 0.05) 100%);
      //url('../../../assets/images/ug-images/video 2.jpg');
      height: 450px;
      border-radius: 30px;
      @media #{$lg,$md} {
        height: 40vh;
      }
      @media #{$sm,$lsm,$xsm,$tiny} {
        height: 40vh;
      }
      @media #{$sm,$md} {
        margin-top: 1rem;
      }
    }
    .playSize{
      color: $white;
      font-size: 30px !important;
      @media #{$sm,$lsm,$xsm,$tiny,$md} {
        font-size: 40px !important;
      }
    }
    .card-foot {
      display: flex;
      flex-direction: column;
      width: 100%;
      .PmIcon{
        color: black;
      }
      .address-label {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0.8rem 0;
        @media #{$sm} {
          margin: 0;
          width: 100%;
          padding: 0 1rem;
          align-items: flex-start;
          justify-content: center;
        }

        .icon {
          display: flex;
          margin: 0 2px;
          @media #{$sm} {
            margin: 0;
          }
        }

        .text {
          display: flex;
          margin: 0 2px;

          p {
            font-size: 16px;
            margin: 0;
            @media #{$sm} {
              text-align: center;
            }
          }
        }
      }

      .info-group {
        display: flex;
        //width: 100%;
        @media #{$sm} {
          flex-direction: column;
        }
        .info-item {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0 1rem;
          @media #{$sm} {
            margin: 0;
          }

          .txt {
            display: flex;
            margin: 0.3rem 0;
            @media #{$sm} {
              margin: 0.8rem 0;
            }
            p {
              font-size: 16px;
              font-weight: bold;
              margin: 0;
              color: #1A2C52;
              text-transform: uppercase;
              @media #{$sm} {
                width: 100%;
                text-align: center;
              }
            }
          }

          .icon-txt-hld{
            display: flex;
            align-items: center;
            margin: 0.3rem 0;
            @media #{$sm} {
              margin: 0;
              justify-content: center;
            }
            .icon{
              margin: 0 3px;
            }
            .txt{
              margin: 0 3px;
            }
          }
          .icon-txt-hld.ic{
            justify-content: center;
            @media #{$sm} {
              margin: 1rem 0;
              justify-content: space-around;
            }
          }
        }
        .info-item.ic{
          @media #{$sm} {
            margin: 0;
          }
        }
      }
    } 
  }
  .SchoolMiddlespacing{
    text-align: center; 
    margin-top: 2rem;
    @media #{$sm,$md} {
      margin-top: 2rem;
    }
    .subTitle {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 1rem;
    }
  }

  #ACADEMIC{
    
    background-color: $bg-color;
    padding: 2rem;
    border-radius: 20px;
    color: white;
    margin : 3rem auto 1.5rem;
  }