.Partners{
    padding-top: 3rem;
    @media #{$sm} {
        padding-top: 2rem;
    }
    .Title{
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        transform: rotate(-90deg);
        text-transform: uppercase;
        color: $texts-color2;
        @media #{$sm} {
            font-size: 22px;
            transform: rotate(0deg);
        }
    }
    .colmblspace{
        @media #{$sm} {
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mblImg{
            @media #{$sm} {
            width: 70%;
            }
        }
    }
    .btnStyle{
        border: 0;
        background: $bg-colors;
        border-radius: 56px;
        color: $white;
        padding: 0.5rem 2rem;
        margin-top: 2rem;
        &:hover{
            color: $bg-colors;
            border: 1px solid $bg-colors; 
            background: $white;
        }
    }
}
.partnerLogoDiv {
    padding: 15px !important;
    text-align: center !important;
}

.partnerLogoImg {
    max-width: 70% !important;
    filter: grayscale(100);
    cursor: pointer;
}
.partnerLogoImg:hover {
    filter: grayscale(0);
}