.Covid-page{
  padding-top: 3rem;
  padding-bottom: 2rem;
  @media #{$sm} {
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .Title{
    margin-bottom: 2rem;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    z-index: 999;
    color: $primary-color;
    @media #{$sm,$md} {
      font-size: 22px;
    }
  }
  .Covid {
    height: 62vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 888;
    transition: background-size 1s ease-in-out;
    &:hover{
        background-size: 120% /* work with the background-size */
    }
    @media #{$lg} {
      height: 48vh;
      background-size: cover;
    }
    @media #{$md} {
      background-size: cover;
    }
    @media #{$xxl} {
      height: 80vh;
    }
    .description-column {
      .cardStyle{
        padding: 1rem;
        width: 950px;
        text-align: justify;
        @media #{$md} {
          width: 100%;
        }
        border-radius: 30px;
        .subtitle{
          margin-top: 0.5rem;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
//Design on MbL Screen
  .cardStyleMBL{
    text-align: justify;
    width: 100%;
    border-radius: 30px;
    .subtitle{
      margin-top: 0.5rem;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

