.home-page{
  .AgeRequirements{
    padding-top: 3rem;
    @media #{$sm} {
      padding-top: 2rem;
    }
    @media #{$md} {
      padding-top: 2rem;
    }
    .Title{
      font-size: 25px;
      font-weight: 500;
      margin: 1.5rem 3rem;
      text-transform: uppercase;
      @media #{$sm} {
        font-size: 22px;
        text-align: center;
      }
    }
    .subTitle{
      font-size: $sub-fonts;
      font-weight: 500;
      margin: 0 3rem;
      @media #{$sm} {
        font-size: 16px;
        margin: 0 1rem;
        text-align: center;
      }
    }
    .agereqButton{
      border-bottom: 1px solid #4838FF;
      font-size: $sub-fonts;
      font-weight: bold;
      color: #4838FF;
      background: transparent;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin-top: 1rem;
      margin-bottom: 5rem;
      @media #{$sm,$md} {
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
}