.home-page{
  .AgeRequirements{
    padding-top: 3rem;
    @media #{$sm} {
      padding-top: 2rem;
    }
    @media #{$sm,$md} {
      padding-top: 2rem;
    }
    .Title{
      font-size: 25px;
      font-weight: 500;
      margin: 1.5rem 3rem;
      text-align: left;
      text-transform: uppercase;
      @media #{$sm,$xsm} {
        font-size: 25px !important;
      }
    }
    .subTitle{
      font-size: 18px;
      font-weight: 500;
      margin: 0 3rem;
      @media #{$sm,$xsm} {
        font-size: 16px !important;
      }
    }
    .agereqButton{
      border-bottom: 1px solid #4838FF;
      font-weight: 500;
      font-size: 18px;
      color: #4838FF;
      background: transparent;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin-top: 1rem;
      @media #{$sm,$md} {
        margin: 0;
      }

    }
  }
}