.home-page{
  .Covid{
    padding-top: 3rem;
    @media #{$sm} {
      padding-top: 2rem;
    }
    @media #{$sm,$md} {
      padding-top: 2rem;
    }
    .Title{
      font-size: 25px;
      font-weight: 500;
      margin: 1.5rem 3rem;
      text-transform: uppercase;
      text-align: center;
      @media #{$sm} {
        font-size: 22px;
      }
    }
    .subTitle{
      font-size: 18px;
      text-align: center;
      font-weight: 500;
      margin: 0 3rem;
      @media #{$sm} {
        font-size: 16px;
        margin: 0;
      }
    }
  }
}