.industriesBanner{
    .hero-image {
    background-color: #cccccc;
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    @media #{$md} {
      height: 500px;
    }
    @media #{$sm,$xsm,$tiny} {
      height: 350px;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: $white;
      clip-path: polygon(100% 50%, 0 100%, 100% 100%);
    }
    .bannerBtn{
      background: $backgroundsColors;
      border: none;
      color: $white;
      padding: 0.5rem 3rem;
      border-radius: 38px;
      margin-top: 8rem;
      margin-right: 3rem;
      font-weight: 400;
      font-size: 18px;
      &:hover{
        background: $white;
        border: 1px solid $backgroundsColors;
        color: $backgroundsColors;
      }
      }
  .hero-text {
      text-align: left;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: Black;
      @media #{$md} {
        top: 50%;
        left: 50%;
      }
      @media #{$lg} {
        top: 50%;
        left: 50%;
      }
      @media #{$sm,$xsm ,$tiny} {
        top: 50%;
        left: 50%;
      }
      
      .banner-title{
        font-weight: 400;
        font-size: 50px;
        margin-bottom: 0.5rem;
        color: $white;
        text-align: center;
        @media #{$md} {
          font-size: 30px;
        }
        @media #{$sm,$xsm} {
          font-size: 20px ;
        }
      }
    }
  }
  }
  
  
  