.media-center{
    padding-top: 2rem;
    @media #{$sm} {
        padding-top: 2rem; 
    }
    .aboutBG{
        background-image:url("../../../assets/images/backgrounds/mediacenterbg.png");
        background-repeat:no-repeat;
        background-position:center;
        padding: 1.5rem 0 5rem 0;
        @media #{$sm} {
            padding: 1.5rem 0 2rem 0; 
        }
    }
    .Title{
        color: $bg-colors;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    .subtitle{
        color: $texts-color2;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: center;
    }
    .btnDiv{
        margin-top: 1.5rem;
        margin-bottom: 4rem;
        @media #{$sm} {
            margin-bottom: 2rem;
        }
        .btnStyle{
            background: transparent;
            color: $texts-color2;
            border: 0;
            margin-right: 1rem;
            font-weight: 400;
            font-size: 21px;
            font-family: $nechTechAltMedium;
            &.active{
                border-bottom: 3px solid $bg-colors;
            }
        }
    }
    .cardStyle{
        border:0;
        background: #F7F8FF;
        .date{
            color: #2C2C2C;
            font-weight: 300;
            font-size: 15px;
        }
        .cardsubtitle{
            color: #2C2C2C;
            font-weight: 400;
            font-size: 15px;
            text-align: justify;

        }
        .btnStyle{
            border:0;
            border-bottom: 1px solid $bg-colors;
            background: transparent;
            font-weight: 400;
            color: $bg-colors;
            font-size: 15px;
        }
    }
}

.innerpagedescription {
    color: #344036 !important;
}

.innerpage {
    padding-left: 0px !important;
}
.innerpageTitle {
    font-family: 'Neo-Tech-Alt-Regular', sans-serif;
    font-size: 26px !important;
    font-weight: 400 !important;
    line-height: 33px !important;
    color: #074344 !important;
}
.commentSection {
    border-top: 1px solid rgba(103, 157, 116, 0.31) !important;
    border-bottom: 1px solid rgba(103, 157, 116, 0.31) !important;
    padding: 15px 0px !important;
    // padding-top: 15px !important;
}

.form-control:focus{
    border-color: #5AC4CB;
    box-shadow: 0 0 0 0.1rem #5AC4CB;
  }

  .submitButton {
    background: #5AC4CB;
    border-radius: 56px;
    color: white;
    border-color: #5AC4CB !important;
    width: 20%;
  }
  .submitButton:hover {
    background: #5AC4CB;
    border-radius: 56px;
    color: white;
    border-color: #5AC4CB;
    box-shadow: 0 0 0 0.1rem #5AC4CB;
    border-color: #5AC4CB !important;
  }
  .submitButton:focus {
    background: #5AC4CB;
    border-radius: 56px;
    color: white;
    border-color: #5AC4CB;
    box-shadow: 0 0 0 0.1rem #5AC4CB;
    border-color: #5AC4CB !important;
  }
  #formName,#formBasicEmail {
    height: 50px;
  }

  .readArticleLink {
      color: #0066FF;
      text-decoration-line: underline;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      width: 50%;
  }
  .readArticle {
    display: flex;
    align-items: center;
    margin-bottom: 30px !important;
  }

  .latestUpdateCards {
    border-top: 1px solid rgba(103, 157, 116, 0.31) !important;
    padding: 15px 0px !important;
  }

  .iconsMediaInner {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    a {
        color: #2C8F8F;
        display: flex !important;
    }
  }
  .iconsMediaInnerContainer {
      display: flex;
      margin: 1rem 0px;
  }
  .followUs {
    margin-bottom: 1rem !important;
  }

  .rightCardInner {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .cardMarginInner {
    margin-right: 0px !important;
    margin-left: 0px !important;
    background: white !important;
    padding: 0px !important;
  }
  .readArticleLinkIcons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .latestUpdateImg {
      max-width: 169px !important;
  }
  .trendingImg {
      max-width: 145px !important;
  }

  .innerImageLatestupadates {
        max-width: 190px !important;
  }
  .containerInnerImageLatestupadates {
    padding-left: 10px !important;
    padding-right: 10px !important;
    @media (max-width: 580px) {
        padding-top: 15px !important;
    }
  }

  .subtitleInner {
    color: #074344 !important;
    @media (max-width: 580px) {
        text-align: center !important;
    }
  }
  .emptyDIv {
      @media (max-width: 992px) {
          padding: 30px !important;
      }
  }
  .formSubmitComment {
      @media (max-width: 480px) {
          width: 100% !important;
      }
  }