.EnrollTabs{
  padding-top: 10rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .TabButton{
    background: $white;
    border: 1px solid $bg-color;
    border-radius: 100px;
    color: $primary-color;
    font-weight: 500;
    width: 208px;
    font-size: 16px;
    margin: 0.5rem;
    &:focus , &.active , &:hover{
      background: $bg-color;
      color: $white;
    }
    @media #{$lg} {
      width: 154px;
      font-size: 14px;
    }
  }
  .buttons-flex {
    display: block;
    justify-content: space-around;
  }
}
.EnrollTabTitle{
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  @media #{$sm} {
    padding: 0 2rem
  }
}
