.EnrollTabs{
  padding-top: 7rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .TabButton{
    background: $white;
    border: 1px solid $bg-color;
    border-radius: 100px;
    color: $primary-color;
    font-weight: 500;
    width: 208px;
    font-size: 16px;
    margin: 0.5rem;
    &:focus , &.active , &:hover{
      background: $bg-color;
      color: $white;
    }
    @media #{$lg} {
      width: 154px;
      font-size: 14px;
    }
  }
  .buttons-flex {
    text-align: center;
    display: block;
    justify-content: space-around;
  }
}
.EnrollTabTitle{
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  margin: 2rem 2rem 0 2rem;
  margin-bottom: 0;
  @media #{$sm} {
    margin: 2rem 1rem 0 1rem;
  }
}
