// Font Family
$nechTechAltRegular: 'Neo-Tech-Alt-Regular', sans-serif;
$nechTechAltMedium:'Neo-Tech-Alt-Medium', sans-serif;
$nechTechAltLight:'Neo-Tech-Alt-Regular', sans-serif;
// Colors ---------------
$texts-color: #679D74;
$texts-color2: #074344;
$bg-colors:#5AC4CB;
$backgroundsColors:#2C8F8F;
$primary-color: #000000;
$secondary-color: #2C2C2C;
$heading-color: #666;
$hover-color:#CDB786;
$text-secondary: #EDDCC0;
$white: #ffffff;
$lightgray: #f0f0f0;
$mandy: #e65550;
$brightsun: #ffc849;
$spray: #61d6ef;
$cornflower-blue: #6862ef;
// Responsive Variables
$_5xl: "only screen and (min-width: 2000px) and (max-width: 5999px)";
$_3xl: "only screen and (min-width: 1601px) and (max-width: 1999px)";
$xxl: "(min-width: 1600px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1599px)";

$_2xl: "only screen and (min-width: 1024px) and (max-width: 1439px)";
//$_4xl: "only screen and (min-width: 1350px) and (max-width: 1449px)";


$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "(max-width: 767px)";
$lsm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xsm: "(max-width: 575px)";
$mXsm: "only screen and (min-width: 400px) and (max-width: 574px)";
$tiny: "(max-width: 399px)";
$mTiny: "only screen and (min-width: 200px) and (max-width: 398px)";

//spacing
$v-sp-lg: 2rem;
$v-sp-sm: 1rem;

// font size for paragraphs

$sub-fonts: 17px;