.TabPanel{
  //flex-grow: 1;
  //width: 100%;
  padding-top: 7rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .TabButton{
    background: $white;
    border: 1px solid $bg-color;
    border-radius: 100px;
    color: $primary-color;
    width: 210px;
    font-size: 16px;
    display: inline-block;
    margin: 1rem;
    font-weight: 500;
    &:focus , &.active , &:hover{
      background: $bg-color;
      color: $white;
    }
    @media #{$lg} {
      width: 158px;
      font-size: 13px;
    }
  }
  .buttons-flex {
    display: block;
    text-align: center;
    justify-content: space-around;
  }
  .TabStyle{
    color: $white;
  }
  .MuiAppBar-colorPrimary{
    background: $white;
  }
  .MuiPaper-elevation4{
    box-shadow: none;
  }
  .MuiTab-root {
    border-radius: 100px;
    border: 1px solid $primary-color;
    width: 360px;
  }
  .PrivateTabIndicator-colorPrimary-12 {
    //background-color: $white;
    display: none;
  }
  .MuiTabScrollButton-root {
   display: none;
    @media #{$sm,$md} {
      display: block;
      color: $primary-color;
    }
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: $white;
    background: $bg-color;
  }
}
