.TabPanel{
  //flex-grow: 1;
  //width: 100%;
  padding-top: 10rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .TabButton{
    background: $white;
    border: 1px solid $bg-color;
    border-radius: 100px;
    color: $primary-color;
    width: 250px;
    font-size: 18px;
    font-weight: 500;
    &:focus , &.active , &:hover{
      background: $bg-color;
      color: $white;
    }
  }
  .buttons-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .TabStyle{
    color: $white;
  }
  .MuiAppBar-colorPrimary{
    background: $white;
  }
  .MuiPaper-elevation4{
    box-shadow: none;
  }
  .MuiTab-root {
    border-radius: 100px;
    border: 1px solid $primary-color;
    width: 360px;
  }
  .PrivateTabIndicator-colorPrimary-12 {
    //background-color: $white;
    display: none;
  }
  .MuiTabScrollButton-root {
   display: none;
    @media #{$sm,$md} {
      display: block;
      color: $primary-color;
    }
  }
  .MuiTab-textColorPrimary.Mui-selected {
    color: $white;
    background: $bg-color;
  }
}
