.home-page{
  .AdmissionContact{
    padding-top: 3rem;
    @media #{$sm} {
      padding-top: 2rem;
    }
    @media #{$sm,$md} {
      padding-top: 2rem;
    }
    .Title{
      font-size: 25px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      @media #{$sm,$xsm} {
        font-size: 25px !important;
      }
    }
    .subTitle{
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 1rem;
      @media #{$sm,$xsm} {
        font-size: 18px !important;
      }
    }
  }
}