.BackgroundDiv{
    position: relative;
    height: 100%;
    overflow: hidden;

  /* Style the video: 100% width and height to cover the entire window */
  .video {
    width: 100%;
    height: 100%;
  }

  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    top: 0;
    color: $white;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .sub-content {
    text-align: center;
  }
  .sub-content img {
    display: none;
  }

  @media (min-width: 768px) {

    /* Style the video: 100% width and height to cover the entire window */
    .video {
      width: 100%;
      height: 100%;
    }

    /* Add some content at the bottom of the video/page */
    .content {
      position: absolute;
      top: 0;
      color: #f1f1f1;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    .sub-content img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: 15px auto;
      border: #f1f1f1 1px solid;
      opacity: 0.4;
    }
  }
  //.home-header {
  //  height: 100vh;
  //  // background-image: url("../../../assets/images/ug-images/1920x967.jpg");
  //  background-size: cover;
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  display: flex;
  //  align-items: center;
  //  position: relative;
  //  z-index: 888;
  //  @media #{$sm} {
  //    height: 70vh !important;
  //  }
  //  @media #{$md} {
  //    height: 60vh ;
  //  }
  //  @media #{$lg} {
  //    height: 80vh;
  //  }
  //  @media #{$xxl} {
  //    height: 80vh;
  //  }
  //  &::before {
  //    content: "";
  //    position: absolute;
  //    top: 0;
  //    z-index: -1;
  //    width: 100%;
  //    height: 100%;
  //    background: rgba($color: #000000, $alpha: 0.5);
  //    @media #{$sm,$md,$lg} {
  //      height: 97%;
  //    }
  //  }
    .description-column {
      color: $white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      .header-logo-wrapper {
        //@media #{$sm} {
        //  position: absolute;
        //  width: 100%;
        //  background-color: $primary-color;
        //  top: 0;
        //  padding: 1rem;
        //}
        .header-logo {
          width: 100%;
          @include margin-vertical(2,'rem');
          @media #{$sm} {
            display: block;
            margin: auto;
          }
        }
      }
      .intro-title {
        font-size: 30px;
        font-weight: 500;
        @media #{$sm,$md} {
          font-size: 1.8rem;
          margin: 1rem 0;
          margin-top: 2rem;
        }
      }
      .intro-title2 {
        font-size: 20px;
        font-weight: 500;
      }
      .subtitle{
        margin-top: 0.5rem;
        font-size: 20px;
        font-weight: 500;
      }
    }
    @-webkit-keyframes ripple-white {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
      }
    }

    @keyframes ripple-white {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
      }
    }


    .video-promo-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-left: 6rem;
      @media #{$sm} {
        margin-left: 0;
        align-items: center;
      }
    }

    .About-video-play-icon {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255,255,255, 0.5);
      border-radius: 50%;
      -webkit-animation: ripple-white 1s linear infinite;
      animation: ripple-white 1s linear infinite;
      -webkit-transition: 0.5s;
    }
    .About-video-play-icon:hover{
      background: rgba(255,255,255, 1);
    }
    .AboutVideoplaySize{
      color: white;
      font-size: 75px !important;
      @media #{$sm,$lsm,$xsm,$tiny,$md} {
        font-size: 40px !important;
      }
    }
    .AboutVideoplaySize:hover{
      color: $bg-color;
    }
    .iconSpace{
      margin-top: 10rem;
      margin-right: 4rem;
      @media #{$sm} {
        margin-top: 1rem;
        margin-right: 0;
      }
      @media #{$md} {
        margin-right: 0;
      }
    }

    .inner-header {
      height:65vh;
      width:100%;
      margin: 0;
      padding: 0;
    }
    .flex { /*Flexbox for containers*/
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .waves {
      position:absolute;
      width: 100%;
      height:143px;
      bottom: 0;
      left: 0;
      background: url("../../assets/images/wave.png");
      //animation: animate 10s linear infinite;
      &::before{
        content: "";
        width: 100%;
        height:160px;
        object-fit: revert;
        background: url("../../assets/images/wave.png");
        bottom: 0;
        left: 0;
        position:absolute;
        opacity: 0.4;
        //animation: animate-reverse 10s linear infinite;
      }
      &::after{
        content: "";
        width: 100%;
        height:143px;
        background: url("../../assets/images/wave.png");
        bottom: 0;
        left: 0;
        position:absolute;
        opacity: 0.6;
        transform: scaleX(-1);
        filter: 'FlipH';
        -ms-filter: "FlipH";
        //animation-delay: -5s;
        //animation: animate 20s linear infinite;
      }
    }
    //@keyframes animate {
    //  0% {
    //    background-position: 0;
    //  }
    //  100% {
    //    background-position: 1360px;
    //  }
    //}
    //
    //@keyframes animate-reverse {
    //  0% {
    //    background-position: 1360px;
    //  }
    //  100% {
    //    background-position: 0;
    //  }
    //}
  //}

}