.navbar-wrap {
  .navbar {
    position: absolute;
    width: 100%;
    z-index: 1222;
    // margin: 1rem 1rem;
    // opacity: 0.9;
    // box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(15px);
    // border-radius: 200px;
    // background: $white !important;
    @include padding-horizontal(2, "rem");
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: calc(100% - 1px);
      left: 0px;
      right: 0px;
      height: 10px;
      background-size: 100% 220px;
      opacity: 1;
      transition: all 0.2s ease;
      pointer-events: none;
      height: 132px;
      z-index: 999;
      // visibility: hidden;
    }
    @media #{$sm,$md} {
      background: white !important;
      box-shadow: 2px 2px 14px 0 rgba(95,84,84,0.78);
      -webkit-box-shadow: 2px 2px 14px 0 rgba(95,84,84,0.78);
      -moz-box-shadow: 2px 2px 14px 0 rgba(95,84,84,0.78);
      position: sticky !important;
      width: 100% !important;
      z-index: 999;
      margin: 0;
      opacity: 1;
      border-radius: 0;
    }
    .navbar-brand {
      width: 200px;
      img {
        width: 100%;
        @media #{$md} {
          width: 200px;
        }
        @media #{$sm} {
          width: 43%;
        }
      }
      @media #{$md} {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0%;
        //padding-bottom: 1rem;
        align-items: center;
        z-index: 999999;
      }
      @media #{$sm} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0%;
        //padding-bottom: 1rem;
        z-index: 999999;
      }
    }
    .nav-link {
      font-size: 18px;
      font-weight: 500;
      color: $white;
      margin-right: 0.6rem;
      @media #{$lg} {
        font-size: 13px;
      }
    }

    .nav-toggle-override {
      font-size: 30px;
      margin-right: 1rem;
    }
    .nav-toggle-overrideDesktop {
      font-size: 30px;
      margin-left: 1rem;
      cursor: pointer;
      color: $bg-color;
    }
    .nav-link {
      &.active {
        color: $text-secondary !important;
      }
    }
    .searchbar-icon {
      position: relative;
    }
    .enrollButton{
      background: $bg-color;
      border: none;
      color: $white;
      padding: 0 3rem;
      border-radius: 60px;
    }
    .enrollButton:hover{
      border: 1px solid $bg-color;
      background: $hover-color;
      color: $primary-color;
    }
  }
}
.DrawerCloseIcon{
  background: $bg-color;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  cursor: pointer;
}
.ListStyle {
  margin: 0rem 1rem !important;
}
.MuiTypography-body1 {
  font-size: 1.1rem !important;
  font-family: 'Marcellus',serif !important;
  &.active{
    background-color: $text-secondary;
  }
}

.MuiPaper-root {
  color: $bg-color !important;
  background-color: #ffffffe6 !important;
}

.btn:focus, .btn.focus {
  box-shadow: none !important;
}