.navbar-wrap {
  .navbar {
    position: absolute;
    width: 90%;
    z-index: 1222;
    margin: 2rem 3rem;
    opacity: 0.9;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 200px;
    background: $white !important;
    @include padding-horizontal(2, "rem");
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: calc(100% - 1px);
      left: 0px;
      right: 0px;
      height: 10px;
      background-size: 100% 220px;
      opacity: 1;
      transition: all 0.2s ease;
      pointer-events: none;
      height: 132px;
      z-index: 999;
      // visibility: hidden;
    }
    @media #{$sm,$md} {
      background: white !important;
      box-shadow: 2px 2px 14px 0 rgba(95,84,84,0.78);
      -webkit-box-shadow: 2px 2px 14px 0 rgba(95,84,84,0.78);
      -moz-box-shadow: 2px 2px 14px 0 rgba(95,84,84,0.78);
      position: sticky !important;
      width: 100% !important;
      z-index: 999;
      margin: 0;
      opacity: 1;
      border-radius: 0;
    }
    .navbar-brand {
      //width: 198px;
      img {
        width: 100%;
      }
      //@media #{$sm} {
      //  width: 130px;
      //}
    }
    .nav-link {
      font-size: 14px;
      font-weight: 500;
      color: $primary-color;
      margin-right: 0.6rem;
    }

    .nav-toggle-override {
      font-size: 30px;
      margin-right: 1rem;
    }
    .nav-link {
      &.active {
        color: $text-secondary !important;
      }
    }
    .searchbar-icon {
      position: relative;
    }
    .enrollButton{
      background: $bg-color;
      border: none;
      color: $white;
      padding: 0 3rem;
      border-radius: 60px;
    }
    .enrollButton:hover{
      border: 1px solid $bg-color;
      background: $hover-color;
      color: $primary-color;
    }
  }
}
