/*---About headers---*/


.home-header {
  &::before {
    @media #{$sm,$lg} {
      height: 100%;
    }
  }

  .description-column {
    .intro-title {
      @media #{$sm,$lg} {
        font-size: 15px;
        margin: 5px 0;
      }
    }

    .intro-title2 {
      @media #{$sm,$lg} {
        font-size: 13px;
      }
    }

    .subtitle {
      @media #{$sm,$lg} {
        font-size: 13px;
      }
    }
  }
}

.home-header.wave-container {
  height: 937px;
  width: 100%;
  @media #{$sm,$md}{
    height: 75vh;
  }
}

/*--AGS Experience css--*/
.btn-h {
  width: 100%;
  text-align: center;
  padding-left: 5rem;

  .viewButton {
    font-weight: 500;
    background: transparent;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0 2rem;
  }
}

.ex-paths {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
  margin-top: 0;

  @media #{$xxl} {
    min-width: 50%;
  }

  .InfoTitle {
    /*font-size: 1rem !important;*/
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 2rem 0;
  }

  .ex-content {
    display: flex;
    justify-content: center;
    @media #{$xl,$xxl}{
      width: 80%;
    }
    @media #{$lg}{
      width: 95%;
    }
    @media #{$sm,$md}{
      width: 95%;
      flex-direction: column;
    }

    .ex-img-hld {
      @media #{$sm,$md}{
        display: flex;
        width: 100%;
      }

      .exp-img {
        width: 450px;
        height: 300px;
        margin: 0 auto;
        border-radius: 30px;
        @media #{$sm,$md}{
          width: 100%;
          height: inherit;
        }
      }
    }


    .text-content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .txt-c {
        display: flex;
        padding: 3rem 1rem;
        text-align: justify;
        @media #{$xxl}{
          padding: 3rem;
        }
        @media #{$xl}{
          padding: 0rem 2rem 1rem 2rem;
        }
        @media #{$lg}{
          padding: 1rem 1rem 0 2rem;
        }
        @media #{$sm,$md}{
          padding: 1rem 0 0 0;
        }

        p {
          font-size: 17px;
          color: #191919;
        }
      }

    }


  }
}

/*--Principle Message css--*/

.Principal{
  padding-top: 5rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .InfoTitle{
    color: $primary-color;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3rem;
  }
  @-webkit-keyframes ripple-white {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 30px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 30px rgba(255, 255, 255, 0);
    }
  }

  @keyframes ripple-white {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1);
    }
    100% {
      -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 30px rgba(255, 255, 255, 0);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 30px rgba(255, 255, 255, 0);
    }
  }


  .video-promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .video-play-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    -webkit-transition: 0.5s;
  }
  .playSize {
    color: $white;
    font-size: 30px !important;
    @media #{$sm,$lsm,$xsm,$tiny,$md} {
      font-size: 40px !important;
    }
  }
}


.p-main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .p-cont {
    display: flex;
    width: 100%;
    background-color: white;

    .cont-hld {
      display: flex;
      width: 100%;
      /*height: 720px;*/
      background-repeat: no-repeat;
      //background-size: cover;
      background-size: 100%;
      /*background-color: #737575;*/
      position: relative;
      transition: background-size 1s ease-in-out;
      &:hover{
        background-size: 120% /* work with the background-size */
      }

      .op-div {
        display: flex;
        background: #5252527a;
        height: inherit;
        width: 100%;
        /*z-index: 4;*/
        position: absolute;
      }

      .wavy-div {
        display: flex;
        width: 100%;
        height: 100%;
        /*background: #1A2C52;*/
        margin-top: 10%;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          background-position: center;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url("../../assets/images/about/path_bg.png");
        }
      }

      .vid-cont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        /*position: absolute;*/
        z-index: 1;

        .bg-img-hld {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .video-promo-content {
            position: absolute;
          }

          .bg-img {
            display: flex;
            justify-content: center;
            align-items: center;
            /*position: absolute;*/
            /*width: 980px;*/
            /*height: 504px;*/
            width: 100%;
            height: 100%;
            margin-top: 8%;
            border-radius: 50px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @media #{$xxl} {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}


/*--ethos css--*/

.ethos-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media #{$xxl} {
    height: 700px;
  }
  @media #{$_3xl} {
    height: 500px;
  }
  @media #{$_5xl} {
    height: 300px;
  }


  .ethos_bg {
    display: flex;
    width: 100%;
    justify-content: center;
    /*height: 900px;*/
    background-image: url("../../assets/images/agsbackgrounds/AGSEthos.png");
    //background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: background-size 1s ease-in-out;
    &:hover{
      background-size: 120% /* work with the background-size */
    }
    @media #{$sm,$md}{
      background-image: url("#");
    }

    .InfoTitle-Ethos {
      margin-top: 20rem;
      position: absolute;
      margin-bottom: 2rem;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      color: #000000;
      @media #{$_3xl} {
        margin-top: 24rem;
      }
      @media #{$_5xl} {
        margin-top: 29rem;
      }
      @media #{$xl}{
        margin-top: 15rem;
      }
      @media #{$lg}{
        margin-top: 13rem;
      }
      @media #{$sm,$md}{
        margin-top: 9rem;
      }
    }

    .cardStyle {
      margin-top: 27rem;
      width: 55%;
      box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      padding: 2rem 4rem;
      @media #{$_3xl} {
        margin-top: 30rem;
      }
      @media #{$_5xl} {
        margin-top: 33rem;
      }

      @media #{$xl}{
        margin-top: 23rem;
        width: 60%;
      }
      @media #{$lg}{
        margin-top: 17rem;
        width: 70%;
      }
      @media #{$sm,$md}{
        margin-top: 13rem;
        width: 95%;
        padding: 2rem 2rem;
      }

      .card-body {
        padding: 0;
        @media #{$_3xl} {
          max-width: 50%;
        }
      }

      .intro-title {
        font-size: 20px;
        color: #1A2C52;
        font-weight: 700;
      }
      .subtitle {
        font-size: 18px;
        color: #1A2C52;
        font-weight: 500;
      }
    }
  }
}


/*--health--*/

.ex-paths.ags-heath-main {
  @media #{$xxl}{
    margin-top: 9rem;
    max-width: 95%;
  }
  @media #{$_3xl} {
    margin-top: 15rem;
    max-width: 100%;
  }
  @media #{$_5xl} {
    margin-top: 25rem;
  }
  @media #{$sm,$md}{
    margin-top: 10rem;
  }
  @media #{$lsm}{
    margin-top: 20rem;
  }
  @media #{$mXsm}{
    margin-top: 27rem;
  }
  @media #{$tiny}{
    margin-top: 38rem;
  }
  @media #{$mTiny}{
    margin-top: 58rem;
  }

  .InfoTitle {
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin: -1rem 0 2rem 0;

    @media #{$_3xl} {

    }
    @media #{$_5xl} {

    }
    @media #{$sm,$md}{
       margin-top: 2rem;
    }
    @media #{$lsm}{

    }
    @media #{$mXsm}{

    }
    @media #{$tiny}{
    ;
    }
    @media #{$mTiny}{

    }
  }


}

//@media only screen and (min-width: 2401px) and (max-width: 13000px) {
//  .home-page.about-section {
//    margin: 0 auto;
//    /*max-width: 2400px;*/
//  }
//
//  .ex-paths:before {
//    top: -200px;
//    height: 201px;
//  }
//
//  .ethos-main {
//    margin-top: -350px !important;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 20rem;
//    font-size: 25px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 28rem !important;
//    width: 80% !important;
//    padding: 0 !important;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 10rem !important;
//    font-size: 4rem !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//    padding: 5rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-direction: column;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 4rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 3rem;
//    text-align: justify;
//  }
//
//  .txt-c {
//    font-size: 2.8rem;
//    margin-right: 2rem;
//  }
//
//  .exp-img {
//    width: initial;
//    height: initial;
//    margin: 5%;
//  }
//
//  .ags-heath-main .InfoTitle {
//    font-size: 4rem;
//  }
//  .p-main .InfoTitle {
//    font-size: 4rem !important;
//  }
//  .ex-paths .InfoTitle {
//    font-size: 4rem !important;
//  }
//}
//
//@media screen and (max-width: 3200px) {
//  .ex-paths:before {
//    top: -200px;
//    height: 201px;
//  }
//
//  /*.ex-paths .InfoTitle {*/
//  /*    font-size: 1rem !important;*/
//  /*}*/
//}
//
//@media screen and (max-width: 1290px) {
//  .ex-paths:before {
//    top: -100px !important;
//    height: 101px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    /*font-size: 1rem !important;*/
//    color: #000000;
//  }
//
//  .ethos-main {
//    margin-top: -200px;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 20rem;
//    font-size: 25px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 28rem !important;
//    padding: 0 !important;
//  }
//}
//
//@media screen and (min-width: 1600px) {
//
//  .ethos-main {
//    margin-top: -200px;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 20rem;
//    font-size: 25px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 28rem !important;
//    padding: 0 !important;
//  }
//}
//
//@media only screen and (min-width: 1200px) and (max-width: 1599px) {
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 16rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 23rem !important;
//    padding: 0 !important;
//  }
//}
//
//@media only screen and (min-width: 1200px) and (max-width: 1599px) {
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 16rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 23rem !important;
//    padding: 0 !important;
//  }
//}
//
//@media only screen and (min-width: 992px) and (max-width: 1199px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    /*height: 313px !important;*/
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1.8rem 2.8rem !important;
//  }
//
//  /*--ethos--*/
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 14rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 17rem !important;
//    /*height: 420px;*/
//    /*overflow: auto;*/
//    width: 75% !important;
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 20px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 16px !important;
//    text-align: justify !important;
//  }
//}
//
//
//@media only screen and (min-width: 768px) and (max-width: 991px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 75% !important;
//    margin: 0 auto;
//    height: 390px !important;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1.8rem 2.8rem !important;
//  }
//
//  /*--ethos--*/
//  .ethos-main {
//    margin-top: 3rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 7.9rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 15rem !important;
//    width: 95% !important;
//    /*height: 300px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 17px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 13px;
//    text-align: justify;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 5rem;
//  }
//}
//
//@media (max-width: 767px) {
//  /*---header--*/
//  .home-header.wave-container {
//    height: 937px !important;
//    width: 100%;
//  }
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 80% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1.5rem !important;
//  }
//
//  /*--ethos--*/
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 6rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 9rem !important;
//    width: 95% !important;
//    /*height: 240px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//}
//
//@media only screen and (min-width: 576px) and (max-width: 767px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 80% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1.5rem !important;
//  }
//
//  /*--ethos--*/
//  .ethos-main {
//    margin-top: 5rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 5.5rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 11rem !important;
//    width: 90% !important;
//    /*height: 240px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 11px;
//    text-align: justify;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 2rem;
//  }
//}
//
//@media (max-width: 575px) {
//  /*--about-header--*/
//  .home-header.wave-container {
//    height: 937px !important;
//    width: 100%;
//  }
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos--*/
//  .ethos_bg > .InfoTitle-Ethos {
//    /*margin-top: 6rem;*/
//    /*font-size: 19px;*/
//  }
//
//  .ethos_bg .cardStyle {
//    /*margin-top: 9rem !important;*/
//    /*width: 80% !important;*/
//    /*height: 200px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 11px;
//    text-align: justify;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 2rem;
//  }
//}
//
//@media (max-width: 540px) {
//  /*--about-header--*/
//  .home-header.wave-container {
//    height: 937px !important;
//    width: 100%;
//  }
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos--*/
//  .ethos-main {
//    margin-top: 14rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    /*margin-top: 6rem;*/
//    /*font-size: 19px;*/
//  }
//
//  .ethos_bg .cardStyle {
//    /*margin-top: 9rem !important;*/
//    /*width: 80% !important;*/
//    /*height: 200px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 11px;
//    text-align: justify;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 2rem;
//  }
//}
//
//@media only screen and (min-width: 399px) and (max-width: 575px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos-*/
//  .ethos-main {
//    margin-top: 5rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 1rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 4rem !important;
//    width: 95% !important;
//    /*height: 170px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//    padding: 1rem !important;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 17px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 12.6px;
//    text-align: start;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 5rem;
//  }
//}
//
//@media (max-width: 441px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos-*/
//  .ethos-main {
//    margin-top: 5rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 1rem;
//    font-size: 19px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 4rem !important;
//    width: 95% !important;
//    /*height: 170px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//    padding: 1rem !important;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-direction: column;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 12px;
//    text-align: start;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 16rem;
//  }
//}
//
//@media (max-width: 399px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos-*/
//  .ethos-main {
//    margin-top: 5rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 1rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 4rem !important;
//    width: 95% !important;
//    /*height: 170px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//    padding: 1rem !important;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-direction: column;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 12px;
//    text-align: start;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 18rem;
//  }
//}
//
//@media (max-width: 320px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    text-align: center;
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos-*/
//  .ethos-main {
//    margin-top: 5rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 1rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 4rem !important;
//    width: 95% !important;
//    /*height: 170px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//    padding: 1rem !important;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-direction: column;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 12px;
//    text-align: start;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 22rem;
//  }
//}
//
//@media (max-width: 280px) {
//
//  /*--ags experience--*/
//  .exp-img {
//    width: 90% !important;
//    margin: 0 auto;
//  }
//
//  .ex-paths:before {
//    top: -100px !important;
//    height: 115px !important;
//  }
//
//  .ex-paths .InfoTitle {
//    text-align: center;
//    font-size: 23px !important;
//    margin-top: 1rem !important;
//  }
//
//  .txt-c {
//    padding: 1rem !important;
//  }
//
//  /*--ethos-*/
//  .ethos-main {
//    margin-top: 5rem;
//  }
//
//  .ethos_bg > .InfoTitle-Ethos {
//    margin-top: 1rem;
//    font-size: 23px;
//  }
//
//  .ethos_bg .cardStyle {
//    margin-top: 4rem !important;
//    width: 95% !important;
//    /*height: 170px;*/
//    /*overflow: auto;*/
//    padding: 0 !important;
//  }
//
//  .ethos_bg .cardStyle .card-body {
//    display: flex;
//    padding: 1rem !important;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont {
//    display: flex;
//    flex-direction: column;
//    flex-wrap: nowrap;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep {
//    display: flex;
//    width: 100%;
//    flex-wrap: wrap;
//    padding: 0 1rem;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .intro-title {
//    font-size: 14px;
//  }
//
//  .ethos_bg .cardStyle .card-body .card-cont .cont-sep .subtitle {
//    font-size: 12px;
//    text-align: start;
//  }
//
//  /*--AGS-Health---*/
//  .ags-heath-main {
//    margin-top: 26rem;
//  }
//}