.influencer-Blog{
    padding-top: 3rem;
    margin-bottom: 5rem;
    @media #{$sm,$xsm} {
      margin-bottom: 0;
    }
    .BlogTitle{
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 2rem;
        @media #{$sm} {
            font-size: 20px;
        }
    }
    .carouselmarginBlog{
        margin-left: 2rem;
        .cardstyle{
            border: none;
            border-radius: 9px;
            box-shadow: 4px 4px 10px 0px #00000040;
            .BlogBtn {
                border-bottom: 1px solid black;
                border-right: 0 !important;
                border-left: 0 !important;
                border-top: 0 !important;
                font-size: 12px !important;
                background: white !important;
                margin-left: 4rem;
              }
          }
      }
      .productBtn{
        font-weight: 700 ;
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 18px ;
        padding: 0.5rem 2rem ;
        background: $bg-color;
        box-shadow: 0px 4px 10px rgba(136, 96, 96, 0.1) !important;
        border-radius: 60px;
        &:hover {
          background: black;
          color: $bg-color;
        }
        @media #{$md} {
          font-size: 16px !important;
          padding: 0.7rem 3rem !important;
        }
        @media #{$sm,$xsm,$tiny} {
          font-size: 16px !important;
          padding: 0.5rem 2rem  !important;
        }
    }
      .react-multiple-carousel__arrow{
        background: transparent !important;
        color: black !important;
      }
      
      .react-multiple-carousel__arrow::before{
        font-size: 30px !important;
        color: black !important;
        background: rgba(255, 255, 255, 0.6);
        padding: 12rem 2rem !important;
        @media #{$sm,$xsm} {
          padding: 14rem 1rem !important;
        }
      }
      .react-multiple-carousel__arrow--left{
        left:  -1% !important;
      }
      .react-multiple-carousel__arrow--right{
        right: -1% !important;
      }
      .customButtons{
        background: transparent;
        border: none;
      }
      .IconSize{
        font-size: 35px !important;
      }
  }
  

  