.FeesPayments-page{
  padding-top: 9rem;
  @media #{$sm,$md,$lg} {
    padding-top: 2rem;
  }
  .Title{
    margin-bottom: 2rem;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3rem;
    z-index: 999;
    font-weight: 500;
    color: $primary-color;
    @media #{$sm,$md} {
      font-size: 22px;
      margin-top: 0;
      text-align: center;
    }
    @media #{$lg} {
      margin-top: 4rem;
    }
  }
  .FeesPayments {
    height: 90vh;
    // background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 888;
    transition: background-size 1s ease-in-out;
    &:hover{
      background-size: 120% /* work with the background-size */
    }
    @media #{$lg} {
      // height: 46vh !important;
      background-size: cover;
    }
    @media #{$md} {
      background-size: cover;
    }
    // @media #{$xl} {
    //   height: 80vh ;
    // }
    @media #{$xxl} {
      height: 80vh;
    }
    .description-column {
      margin-top: 40%;
      .cardStyle{
        padding: 1rem;
        width: 950px;
        border-radius: 30px;
        @media #{$md} {
          width: 100%;
          padding: 1.5rem 1rem;
        }
        .viewButton{
          font-weight: 500;
          background: transparent;
          border-bottom: 1px solid black;
          border-left: 0;
          border-right: 0;
          border-top: 0;
          margin: 0 2rem;
          @media #{$md} {
            margin: 0;
          }
        }
        .intro-title {
          font-size: 25px;
          color: $bg-color;
          text-align: center;
          font-weight: 700;
          //@media #{$sm} {
          //  font-size: 25px;
          //  margin-bottom: 1rem;
          //}
        }
        .subtitle{
          font-size: $sub-fonts;
          color: $bg-color !important;
          ul {
            justify-content: center;
            align-items: center;
            display: flex;
            font-weight: bold;
            font-size: $sub-fonts;
            margin-top: 1rem;
          }
        }
        .table thead th {
          border-bottom: 1px solid #CDB786;
          border-top: none;
          font-size: $sub-fonts;
          color: $bg-color !important;
        }

        .table td {
          border-bottom: 1px solid #CDB786;
          font-size: $sub-fonts;
          color: $bg-color !important;
        }
      }
    }
  }
  //Design on MbL Screen
  .cardStyleMBL{
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 30px;
    .viewButton{
      font-weight: 500;
      background: transparent;
      border-bottom: 1px solid black;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      margin: 0 2rem;
      @media #{$sm,$md} {
        margin: 0;
      }
    }
    .intro-title {
      font-size: 22px;
      color: $bg-color;
      text-align: center;
      font-weight: 700;
      margin-bottom: 1rem;
    }
    .subtitle{
      font-size: $sub-fonts;
      color: $bg-color !important;
      ul {
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
    .table thead th {
      border-bottom: 1px solid #CDB786;
      font-size: 15px;
      border-top: none;
      color: $bg-color !important;
    }
    .table td {
      border-bottom: 1px solid #CDB786;
      font-size: 15px;
      color: $bg-color !important;
    }
   
  }
}