.home-page{
  .Position{
    padding-top: 1rem;
      @media #{$sm,$md} {
        padding-top: 0;
      }
    .Title{
      margin-bottom: 2rem;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      color: $primary-color;
      @media #{$sm,$md} {
        font-size: 22px;
        margin-bottom: 1rem;
      }
    }
    .react-multi-carousel-list{
      height: 57vh;
      background-image: url("../../../assets/images/agsbackgrounds/agscareer.jpg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      transition: background-size 1s ease-in-out;
      &:hover{
        background-size: 120% /* work with the background-size */
      }
      @media #{$lg} {
        height: 25vh;
        background-size: cover;
      }
      @media #{$md} {
        background-size: cover;
      }
    
      @media #{$xxl} {
        height: 80vh;
      }
    }
    .listStyle{
      padding: 0 0.5rem;
      @media #{$sm ,$md} {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
      .description-column {
        .cardStyle{
          margin-top: 8rem;
          padding: 1rem;
          border-radius: 50px;
          @media #{$sm,$md} {
            width: 100%;
            padding: 1.5rem 1rem;
          }
          .schoolbtn{
            border: 1px solid $bg-color;
            border-radius: 100px;
            color: $white;
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            background: $bg-color;
            &:hover{
              background: $hover-color;
              color: $black;
            }
            @media #{$sm,$md,$xsm,$tiny} {
              width: auto;
            }
          }
          .subtitle{
            margin-top: 0.5rem;
            font-size: 22px;
            text-align: center;
            color: $bg-color;
            font-weight: 500;
            @media #{$sm,$md} {
              margin-top: 0;
            }
          }
        }
      }
  }
  .positionMBL{
    .Title{
      font-size: 22px;
      margin-bottom: 1rem;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      color: $primary-color;
    }
    .listStyle{
      padding-left: 15px;
      padding-right: 15px;
    }
      .description-column {
        .cardStyle{
            width: 100%;
            padding: 1.5rem 1rem;
            margin-bottom: 3rem;
          .schoolbtn{
            border: 1px solid $bg-color;
            border-radius: 100px;
            color: $white;
            width: 65%;
            font-size: 16px;
            font-weight: 500;
            background: $bg-color;
            &:hover{
              background: $hover-color;
              color: $black;
            }
          }
          .subtitle{
            margin-top: 0.5rem;
            font-size: 20px;
            text-align: center;
            color: $bg-color;
            font-weight: 500;
          }
        }
      }
  } 
}
