.home-page{
  .Position{
    padding-top: 1rem;
      @media #{$sm,$md} {
        padding-top: 0;
      }
    .Title{
      margin-bottom: 2rem;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      color: $primary-color;
      @media #{$sm,$md} {
        font-size: 22px;
        margin-bottom: 1rem;
      }
    }
    .PositionDiv {
      height: 57vh;
      //background-size: cover;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 888;
      transition: background-size 1s ease-in-out;
      &:hover{
        background-size: 120% /* work with the background-size */
      }
      @media #{$lg} {
        height: 25vh;
        background-size: cover;
      }
      @media #{$md} {
        background-size: cover;
      }
    
      @media #{$xxl} {
        height: 80vh;
      }

      .description-column {
        .cardStyle{
          margin-top: 8rem;
          padding: 1rem;
          width: 83%;
          border-radius: 50px;
          @media #{$sm,$md} {
            width: 100%;
            padding: 1.5rem 1rem;
          }
          .schoolbtn{
            border: 1px solid $bg-color;
            border-radius: 100px;
            color: $white;
            // width: 100%;
            font-size: 18px;
            font-weight: 500;
            background: $bg-color;
            &:hover{
              background: $hover-color;
              color: $black;
            }
            @media #{$sm,$md,$xsm,$tiny} {
              width: auto;
            }
          }
          .subtitle{
            margin-top: 0.5rem;
            font-size: 21px;
            text-align: center;
            font-weight: 500;
            @media #{$sm,$md} {
              margin-top: 0;
            }
          }
        }
      }
    }
    //Design on mbl screen
    .schoolbtn{
      border: 1px solid $bg-color;
      border-radius: 100px;
      color: $white;
      width: auto;
      font-size: 18px;
      font-weight: 500;
      background: $bg-color;
      &:hover{
        background: $hover-color;
        color: $black;
      }
    }
    .m-row{
      margin: 0;
      .cardStyle{
        margin: 10px 0px;
        text-align: center;
        p {
          @media #{$sm} {
            font-size: 20px;
          }
        }
      }
    }
  } 
}
