.home-page{
    .joinTeam{
    padding-top: 7rem;
      @media #{$sm,$md} {
        padding-top: 2rem;
      }
      .Title{
        font-size: 25px;
        font-weight: 500;
        margin: 1.5rem 3rem;
        text-transform: uppercase;
        text-align: center;
        color: $primary-color;
        @media #{$sm} {
          font-size: 22px;
        }
      }
      .subTitle{
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        @media #{$sm} {
          font-size: 16px;
          padding-bottom: 1rem;
        }
      }
    }
  }