.a-header {
  width: 100%;
  height: 100vh;
}

.accreditation-paths {
  display: flex;
  position: relative;
  width: 100%;

  //&::before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  bottom: 0;
  //  top: -100px;
  //  left: 0;
  //  z-index: 888;
  //  width: 100%;
  //  height: 120px;
  //  background-image: url("../../assets/images/academics/paths_hd.png");
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  @media #{$lg,$xl,$xxl} {
  //    top: -140px;
  //    height: 141px;
  //  }
  //}

  .v-calendar-sec {
    position: absolute;
    display: flex;
    width: 90%;
    z-index: 1;
    margin: 0 3rem;
    font-size: 25px;
    opacity: 0.9;
    color: #000000;
    box-shadow: 0 4px 15px #BEBEBE;
    //-webkit-backdrop-filter: blur(15px);
    //backdrop-filter: blur(15px);
    border-radius: 200px;
    background: #ffffff !important;
    padding: 1rem 2rem;
    @media #{$sm} {
      display: none;
      margin-top: -1rem;
      padding: 0.3rem;
      font-size: 12px;
    }
    @media #{$xsm} {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .txt-w {
      display: flex;
      align-items: center;
      width: 100%;
      flex: 2;
      @media #{$xsm} {
        text-align: center;
      }
      h2 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    .btn-w {
      display: flex;
      width: 100%;
      flex: 1;

      div {
        justify-content: flex-end;
        @media #{$xsm} {
          justify-content: center;
        }
      }

      .view-c-btn {
        background: #1A2C52;
        border: none;
        color: #ffffff;
        font-size: 21px;
        font-weight: 500;
        padding: 0.3rem 2.5rem;
        border-radius: 60px;
        @media #{$sm} {
          padding: 0.6rem;
          font-size: 12px;
        }
      }
    }
  }

  .small-calendar-view {
    visibility: hidden;
    @media #{$sm} {
      visibility: visible;
    }
    .view-c-btn {
      background: #1A2C52;
      border: none;
      color: #ffffff;
      padding: 0.3rem 2.5rem;
      border-radius: 60px;
      @media #{$sm} {
        padding: 0.6rem;
        font-size: 12px;
      }
    }
  }

}

.ac-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  @media #{$xxl} {
    height: 700px;
  }

  .ac-bg {
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("../../assets/images/agsbackgrounds/AccreditationPhoto.jpg");
    //background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: background-size 1s ease-in-out;
    &:hover{
      background-size: 120% /* work with the background-size */
    }
    @media #{$xxl} {
      height: 900px;
    }
    @media #{$lg,$xl} {
      height: 540px;
    }
    @media #{$sm} {
      display: none;
    }

    .InfoTitle-Ethos {
      margin-top: 20rem;
      position: absolute;
      margin-bottom: 2rem;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      color: #000000;
      @media #{$_3xl} {
        margin-top: 16rem;
      }
      @media #{$_5xl} {
        margin-top: 16rem;
      }
      @media #{$xxl}{
        margin-top: 8rem;
        width: 60%;
      }
      @media #{$xl}{
        margin-top: 1rem;
      }
      @media #{$lg}{
        margin-top: 2rem;
      }
      @media #{$sm,$md}{
        margin-top: 6rem;
      }
    }

    .cardStyle {
      margin-top: 22rem;
      width: 65%;
      height: 350px;
      box-shadow: 0 50px 100px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      padding: 2rem 4rem;
      @media #{$_3xl} {
        margin-top: 30rem;
      }
      @media #{$_5xl} {
        margin-top: 33rem;
      }
      @media #{$xxl}{
        margin-top: 22rem;
        width: 65%;
        height: 350px;
      }
      @media #{$xl}{
        margin-top: 10rem;
        width: 60%;
      }
      @media #{$lg}{
        margin-top: 10rem;
        width: 70%;
      }
      @media #{$sm,$md}{
        margin-top: 9rem;
        width: 95%;
        padding: 2rem 2rem;
      }

      .card-body {
        padding: 0;
        display: flex;
        align-items: center;
        @media #{$_3xl} {
          max-width: 100%;
        }

        .col {
          text-align: center;
          color: #000000;
        }
      }

      .intro-title {
        font-size: 23px;
        color: #1A2C52;
        text-align: center;
        font-weight: 700;
      }
    }
  }
}


.sm-ac-cont {
  display: none;
  flex-direction: column;
  @media #{$sm} {
    display: flex;
    width: 100%;
  }

  .sm-ac-body {
    display: flex;
    width: 100%;

    .b-para {
      text-align: justify;
      padding: 1rem 2rem;

      p {
        text-align: center;
      }
    }
  }
}

.Academics {
  padding-top: 3rem;
  justify-content: center;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .InfoTitle {
    margin-bottom: 2rem;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    color: $primary-color;
    @media #{$sm} {
      font-size: 22px;
    }
  }
  .overview-heading {
    position: absolute;
    bottom: 5%;
    left: 12px;
    font-size: 18px;
    font-weight: 500;
    color: $white;
    padding: 2%;
    .title{
      font-size: 16px;
      @media #{$sm,$lsm,$xsm,$tiny,$md} {
        font-size: 14px;
      }
    }
    @media #{$lg} {
      font-size: 16px;
    }
    @media #{$sm,$lsm,$xsm,$tiny,$md} {
      font-size: 16px;
    }
  }
  .divstyle {
    transition: .5s;
  }
  .divstyle:hover {
    transform:scale(1.3);
  }
  .curr-sec {
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 18px;
    // font-family: "Optima nova LT Medium";
    color: #000000;
    @media #{$xxl} {
      font-size: 18px;
      width: 84%;
    }
    @media #{$sm} {
      text-align: justify;
    }
  }

  .curr-footer-text {
    display: flex;
    text-align: center;
    color: #000000;
    margin-top: 3rem;
    @media #{$xxl} {
      width: 28%;
    }
  }

  .divstyle.wc {
    width: 420px;
  }

  .imgheight.ch {
    height: 450px;
    border-radius: 50px;
  }
}


//@media only screen and (min-width: 2401px) and (max-width: 13000px) {
//  .ethos_bg .cardStyle .card-body {
//    text-align: center;
//    font-size: 3.7rem;
//  }
//  .home-page.about-section .InfoTitle {
//    font-size: 3rem;
//  }
//  .AgsSlider .curr-sec {
//    font-size: 3rem;
//  }
//  .AgsSlider .curr-footer-text {
//    font-size: 2rem;
//  }
//  .accreditation-paths .v-calendar-sec .txt-w {
//    font-size: 2rem;
//  }
//}

.Ages.Academic {
  z-index: 1111;

  .header {
    display: flex;
    width: 100%;
    padding: 2rem 3rem 0 3rem;

    .heading {
      display: flex;
      width: 100%;
      align-items: flex-end;
      border-bottom: 1px solid #CDB786;
      margin: 0 1rem;

      p {
        display: flex;
        text-transform: uppercase;
        color: $bg_color;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }

  .modal-sec {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 1rem;

    .card-holder {
      display: flex;
      flex-direction: column;

      .card-head {
        display: flex;

        p {
          color: $bg_color;
          font-weight: 600;
          margin-bottom: 0;
        }
      }

      .card-sec {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 1rem 0;

        .circle-holder {
          display: flex;
          flex-direction: column;
          width: 140px;
          margin: 0 1rem;

          ._circle {
            display: flex;
            border-radius: 50%;
            font-weight: bold;
            color: #CDB786;
            background-color: $bg_color;
            border: 3px solid #CDB786;
            flex-direction: column;
            padding: 1rem;
            justify-content: center;
            align-items: center;

            ._circle-inner {
              display: flex;
              align-items: center;
              font-size: 3rem;
              // font-family: "Optima nova LT Medium";
              font-weight: lighter;

              ._circle-em {
                font-size: 12px;
                text-transform: uppercase;
              }
            }

            ._circle-month {
              font-size: 16px;
              text-transform: uppercase;
            }
          }

          ._circle.lg {
            border-radius: 65px;
          }

          ._circle-txt {
            display: flex;
            margin: 0.4rem 0;

            p {
              font-size: 16px;
              color: $bg_color;
              margin-bottom: 0;
              text-align: center;
            }
          }
        }

        .circle-holder.lg {
          width: 200px;
        }
      }
    }

  }
}