.a-header {
  width: 100%;
  height: 100vh;
}

.accreditation-paths {
  display: flex;
  position: relative;
  width: 100%;

  //&::before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  bottom: 0;
  //  top: -100px;
  //  left: 0;
  //  z-index: 888;
  //  width: 100%;
  //  height: 120px;
  //  background-image: url("../../assets/images/academics/paths_hd.png");
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  @media #{$lg,$xl,$xxl} {
  //    top: -140px;
  //    height: 141px;
  //  }
  //}

  .v-calendar-sec {
    position: absolute;
    display: flex;
    width: 90%;
    z-index: 1222;
    margin: 2rem 3rem;
    opacity: 0.9;
    box-shadow: 0 4px 15px #BEBEBE;
    //-webkit-backdrop-filter: blur(15px);
    //backdrop-filter: blur(15px);
    border-radius: 200px;
    background: #ffffff !important;
    padding: 0.7rem 2rem;
    @media #{$sm} {
      display: none;
      margin-top: -1rem;
      padding: 0.3rem;
      font-size: 12px;
    }
    @media #{$xsm} {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .txt-w {
      display: flex;
      align-items: center;
      width: 100%;
      flex: 2;
      @media #{$xsm} {
        text-align: center;
      }

      p {
        margin: 0;
      }
    }

    .btn-w {
      display: flex;
      width: 100%;
      flex: 1;

      div {
        justify-content: flex-end;
        @media #{$xsm} {
          justify-content: center;
        }
      }

      .view-c-btn {
        background: #1A2C52;
        border: none;
        color: #ffffff;
        padding: 0.3rem 2.5rem;
        border-radius: 60px;
        @media #{$sm} {
          padding: 0.6rem;
          font-size: 12px;
        }
      }
    }
  }

}

.ac-bg.ethos_bg {
  @media #{$sm} {
    display: none;
  }
}

.sm-ac-cont {
  display: none;
  flex-direction: column;
  @media #{$sm} {
    display: flex;
    width: 100%;
  }

  .sm-ac-body {
    display: flex;
    width: 100%;

    .b-para {
      text-align: justify;
      padding: 1rem 2rem;
    }
  }
}

.AgsSlider .curr-sec {
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;

  @media #{$sm} {
    text-align: justify;
  }
}

.AgsSlider .curr-footer-text {
  display: flex;
  text-align: center
}

@media only screen and (min-width: 2401px) and (max-width: 13000px) {
  .ethos_bg .cardStyle .card-body {
    text-align: center;
    font-size: 3.7rem;
  }
  .home-page.about-section .InfoTitle {
    font-size: 3rem;
  }
  .AgsSlider .curr-sec{
    font-size: 3rem;
  }
  .AgsSlider .curr-footer-text{
    font-size: 2rem;
  }
  .accreditation-paths .v-calendar-sec .txt-w{
    font-size: 2rem;
  }
}