.ApplyNow {
  z-index: 1111;
  .Title {
    font-size: 20px;
    font-weight: 700;
    text-align: justify;
    color: $bg-colors;
    @media #{$sm} {
      font-size: 18px;
    }
  }
  .UlStyle{
    color: $bg-colors;
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
    @media #{$sm} {
      font-size: 18px;
    }
  }
    .SubTitle{
      color: $bg-colors;
      font-size: 20px;
      font-weight: 500;
      text-align: justify;
      @media #{$sm} {
        font-size: 18px;
      }
    }
    .applynow{
      background: $bg-colors;
      border: none;
      color: white;
      padding: 0.5rem 3rem;
      margin-top: 1rem;
      border-radius: 20px;
    }
    .applynow:hover{
      border: 1px solid $bg-colors;
      background: $hover-color;
      color: $primary-color;
    }
    .modalIconArabic{
      transform: rotate(180deg);
      margin-left: 0 !important;
      margin-right: 1rem;
    }
    .modalIcon{
      background: $bg-colors;
      color: $white;
      padding: 1.5rem;
      border-radius: 100%;
      margin-top: 1rem;
      margin-left: 1rem;
      width: 20px;
      height: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-body {
      padding: 1.5rem 3rem;
      @media #{$sm} {
        padding: 1.5rem 2rem;
      }
    }
    .modal-content{
      border-radius: 60px;
    }
}
.agsModalDir{
  direction: ltr;
}
.agsModalDirArabic{
  direction: rtl;
}