.Payment{
  padding-top: 30rem;
  // padding-top: 3rem;
  @media #{$sm,$md} {
    padding-top: 2rem;
  }
  .FeesButton{
    border-bottom: 1px solid #4838FF;
    font-weight: bold;
    font-size: $sub-fonts;
    color: #4838FF;
    background: transparent;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0 2rem;
    @media #{$sm,$md} {
      margin: 0;
      font-size: 16px;
    }
  }
}