
.Accreditation{
    padding-top: 4rem;
    @media #{$sm,$md} {
        padding-top: 7rem;
      }
      @media #{$sm} {
        padding-top: 2rem;
      }
    .Title{
      margin-bottom: 2rem;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      margin-top: 2rem;
      color: $primary-color;
      @media #{$sm,$md} {
        font-size: 22px;
        margin-top: 0;
      }
    }
    .Ethos {
      height: 80vh;
      //background-size: cover;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 888;
      transition: background-size 1s ease-in-out;
      &:hover{
        background-size: 120% /* work with the background-size */
      }
      @media #{$lg} {
        height: 45vh;
        background-size: cover;
        padding: 0;
      }
      @media #{$md} {
        background-size: cover;
      }
    
      @media #{$xxl} {
        height: 80vh;
      }

      .description-column {
        .cardStyle{
          padding: 1rem;
          width: 950px;
          border-radius: 30px;
          @media #{$sm,$md} {
            width: 100%;
            padding: 1.5rem 1rem;
          }
          .subtitle{
            margin-top: 0.5rem;
            font-size: 1rem;
            text-align: center;
            font-weight: 500;
            @media #{$sm,$md} {
              margin-top: 0;
            }
          }
        }
      }
    }
    //Design on mbl screen
    .cardStyleMBL{
      width: 100%;
      padding: 0 1rem;
      border-radius: 30px;
      .subtitle{
        font-size: 16px;
        text-align: justify;
        font-weight: 500;
        margin-top: 0;
      }
    }
  }