.contact-main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .contact-sec {
    display: flex;
    width: 100%;
    position: relative;
    //background-image: url("../../assets/images/contact/Rectangle 235.png");
    //background-size: contain;
    //background-repeat: no-repeat;
    //background-position: right;
    .contact-card-holder {
      display: flex;
      width: 100%;
      z-index: 2;
      @media #{$lg,$xl,$xxl} {
        justify-content: flex-end;
      }
    .contact-cardArabic{
      margin-right: 6rem;
      margin-left: 0 !important;
    }
      .contact-card {
        width: 700px;
        margin-top: 10rem;
        margin-left: 6rem;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        background-color: $bg_color;
        border-radius: 30px;
        @media #{$sm,$md} {
          margin: 0;
          width: 100%;
          padding: 0;
          border-radius: 0;
        }
        .card-head {
          display: flex;
          padding: 0 1.25rem;
          @media #{$sm,$md} {
            justify-content: center;
          }

          .heading {
            font-size: 25px;
            color: white;
            @media #{$sm,$md} {
              margin-top: 2rem;
            }
          }
        }

        .card-body {
          display: flex;
          width: 100%;
          justify-content: center;
          @media #{$sm,$md} {
            padding: 1rem;
          }
          .row {
            width: 100%;

            .inp-group {
              display: flex;
              flex-direction: column;
              width: 100%;

              .inp {
                display: flex;
                width: 100%;
                margin: 3px 0;
                border-radius: 30px;
                border: 1px solid white;
                margin: 0.8rem 0;

                .inp-text {
                  display: flex;
                  width: 100%;
                  background-color: $bg-color;
                  border: none;
                  border-radius: 30px;
                  padding: 7px 10px;
                  font-size: $sub-fonts;
                  color: white;
                  outline: none;

                  ::placeholder {
                    color: white;
                    opacity: 1;
                  }

                  :-ms-input-placeholder {
                    color: white;
                  }

                  ::-ms-input-placeholder {
                    color: white;
                  }
                }

                textarea {
                  resize: none;
                }
              }

              .inp-btn {
                display: flex;
                width: 100%;
                justify-content: center;
                margin: 0.8rem 0;

                .btn {
                  background-color: white;
                  color: $bg-color;
                  width: 280px;
                  border-radius: 30px;
                  outline: none;
                  font-size: 18px;
                  font-weight: bold;
                }
              }
            }
          }
        }

        .card-foot {
          display: flex;
          flex-direction: column;
          width: 100%;
          @media #{$md} {
            margin-bottom: 1rem;
          }

          .address-label {
            display: flex;
            width: 100%;
            align-items: center;
            margin: 0.8rem 0;
            @media #{$sm} {
              margin: 0;
              width: 100%;
              padding: 0 1rem;
              align-items: flex-start;
              justify-content: center;
            }
            @media #{$md} {
              padding: 0 0.5rem;
            }

            .icon {
              display: flex;
              margin: 0 2px;
              @media #{$sm} {
                margin: 0;
              }
            }

            .text {
              display: flex;
              margin: 0 2px;

              p {
                font-size: $sub-fonts;
                margin: 0;
                color: white;
                @media #{$sm ,$md} {
                  text-align: center;
                }
              }
            }
          }

          .info-group {
            display: flex;
            //width: 100%;
            @media #{$sm} {
              flex-direction: column;
            }
            .info-item {
              display: flex;
              flex-direction: column;
              width: 100%;
              margin: 0 1rem;
              @media #{$sm} {
                margin: 0;
              }

              .txt {
                display: flex;
                color: white;
                margin: 0.3rem 0;
                @media #{$sm} {
                  margin: 0.8rem 0;
                }
                p {
                  font-size: $sub-fonts;
                  font-weight: bold;
                  margin: 0;
                  text-transform: uppercase;
                  @media #{$sm} {
                    width: 100%;
                    text-align: center;
                  }
                }
              }

              .icon-txt-hld{
                display: flex;
                align-items: center;
                margin: 0.3rem 0;
                @media #{$sm} {
                  margin: 0;
                  justify-content: center;
                }
                .icon{
                  margin: 0 3px;
                }
                .txt{
                  margin: 0 3px;
                  font-size: $sub-fonts;
                }
              }
              .icon-txt-hld.ic{
                justify-content: center;
                @media #{$sm} {
                  margin: 1rem 0;
                  justify-content: space-around;
                }
              }
            }
            .info-item.ic{
              @media #{$sm, $md} {
                margin: 0;
              }
            }
          }
        }
      }
    }
    .img-hld{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      @media #{$sm, $md} {
        display: none;
      }
      .sec-bg-img{
        position: absolute;
        width: 54%;
        height: 1024px;
      }
    }

  }
  .contact-footer{
    display: flex;
    width: 100%;
    margin-top: 9rem;
    height: 400px;
    position: relative;
    @media #{$sm ,$md} {
      margin: 0;
    }
    .address-map{
      display: flex;
      width: 100%;
      height: inherit;
      bottom: -7rem;
      position: absolute;
      @media #{$sm ,$md} {
        bottom: 0;
      }
      .btn-hld{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        position: absolute;
        padding:1rem;
        @media #{$sm, $md} {
          align-items: center;
          justify-content: center;
          height: 100%;
        }
        .btn{
          background-color: white;
          color: #1A2C52;
          width: 280px;
          border-radius: 30px;
          outline: none;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}