.home-page {
  .info-tabs {
    padding-top: 3rem;
    @media #{$sm,$md} {
      padding-top: 2rem;
    }
      .InfoTitle {
        // margin-bottom: 2rem;
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        margin-top: -5rem;
        color: $primary-color;
        @media #{$sm,$md} {
          font-size: 22px;
          margin-top: 0;
        }
      
        @media #{$xxl} {
          margin-top: -9rem;
        }
      }
    @-webkit-keyframes ripple-white {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
      }
    }

    @keyframes ripple-white {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
        0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1);
      }
      100% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1),
        0 0 0 20px rgba(255, 255, 255, 0.1),
        0 0 0 30px rgba(255, 255, 255, 0);
      }
    }


    .video-promo-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .video-play-icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
      -webkit-animation: ripple-white 1s linear infinite;
      animation: ripple-white 1s linear infinite;
      -webkit-transition: 0.5s;
    }
    .overview-heading {
      position: absolute;
      font-size: 18px;
      font-weight: 500;
      // text-transform: uppercase;
      color: $white;
      padding: 4%;
      top: 80%;
      background: #00000085;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      width: 100%;
      height: 20%;
      @media #{$lg} {
        font-size: 17px;
      }
      @media #{$sm,$lsm,$xsm,$tiny,$md} {
        font-size: 15px;
      }
    }

    .imgheight{
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: linear-gradient(to bottom, rgba(0, 159, 227, 0.05) 0%, rgba(41, 168, 78, 0.05) 100%);
      //url('../../../assets/images/ug-images/video 2.jpg');
      height: 300px;
      border-radius: 30px;
      @media #{$lg,$md} {
        height: 300px;
      }
      @media #{$sm,$lsm,$xsm,$tiny} {
        height: 300px;
      }
    }
    .playSize{
      color: $white;
      font-size: 30px !important;
      @media #{$sm,$lsm,$xsm,$tiny,$md} {
        font-size: 40px !important;
      }
    }
    .divstyle {
      transition: .5s;
    }
    .divstyle:hover {
      transform:scale(1.2);
      @media #{$sm} {
        transform: none;
      }
    }
    .listStyle{
      padding: 2rem 0.5rem 3rem 0.5rem;
    }
    .react-multi-carousel-item{
      &:hover{
        z-index: 9999;
      }
    }
    }
}

