.theme-breadcrumbs {
  background-color: #f6f6f6 !important;
  .breadcrumb {
    @include padding-vertical(.5, "rem");
    @include padding-horizontal(0, "rem");
    background-color: #f6f6f6 !important;
    margin-bottom: 0;
    a {
      color: #444;
      font-size: 14px;
    }
    li {
      font-size: 14px;
      &::before {
        content: "›" !important;
      }
      &:nth-child(1){
        &::before {
            display: none;
          }
      }
    }
  }
}
