.Documents {
  z-index: 1111;
  .Title {
    font-size: 20px;
    font-weight: 700;
    color: $bg-color;
  }
  .UlStyle{
    color: $bg-color;
    font-size: 20px;
    font-weight: 500;
  }
    .SubTitle{
      color: $bg-color;
      font-size: 20px;
      font-weight: 500;
    }
  .modalIcon{
    background: $bg-color;
    color: $white;
    padding: 0.7rem;
    border-radius: 100%;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-body {
    padding: 1.5rem 0rem;
  }
  .modal-content{
    border-radius: 60px;
  }
}
