.industries{
    padding-top: 2rem;
    @media #{$sm} {
        padding-top: 2rem;
    }
    .Title{
        color: $bg-colors;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    .subtitle{
        color: $texts-color2;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: center;
    }
    .carouselmargin{
        // margin-right: 2rem;
        .cardstyle{ 
            border: 0;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
            height: 400px;
            cursor: grab;
            @media (max-width:375px) {
                min-height: 500px;
            }
            .carouselTitle{
                color: $texts-color2;
                font-size: 21px;
                font-weight: 400;
                text-align: center; 
                margin-top: 0.5rem;
            }
            .carouselSubTitle{
                font-size: 18px;
                font-weight: 400;
                text-align: center;
            }
            .iconBg{
                width: 80px;
                height: 80px;
                background: $backgroundsColors;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                .iconImg{
                    width: 45%;
                }
            }
        }
    }
    .react-multi-carousel-list{
        padding-bottom: 3rem;
      }
      .react-multi-carousel-dot--active button {
        background: $texts-color;
        width: calc(20px + 40px);
        border-radius: 20px;
        border-color: transparent !important;
    }
    .react-multi-carousel-dot button{
      border-color: lightgrey;
    }
}