.bunits{
    margin-top: 2rem;
    .title{
        color: $bg-colors;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }
    .subtitle{
        color: $texts-color2;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: center;
    }
    .aboutBg{
        background-image:url("../../../assets/images/backgrounds/businessUnit.png");
        background-repeat:no-repeat;
        background-position:center;
        padding: 2rem 0 5rem 0;
        @media #{$sm} {
            padding: 0;
        }
    }
    .cardstyle{
        border: 0;
        background: #FFFFFF;
        box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        height: 460px;
        @media #{$sm} {
            height: auto;
            margin-bottom: 1.5rem;
        }
        @media #{$md} {
            height: auto;
            margin-bottom: 2rem;
        }
        .imgStyle{
            clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
        }
        .cardTitle{
            font-weight: 400;
            font-size: 18px;
            color: $texts-color2;
            text-align: center;
        }
        .cardSubtitle{
            font-weight: 400;
            font-size: 15px;
            color: $secondary-color;
            text-align: center;
        }
        .hrStyle{
           border: 1px solid $secondary-color;
        }
        .iconStyle{
            font-size: 15px;
            color: $secondary-color;
        }
    }
}
.aboutCompanyHeadCard{
    min-height: 70px !important;
}