.footer-Wrape {
  color: $white;
  //background-color: $bg-color;
  padding-top: 5rem;
  position: relative;
  background-image: url("../../assets/images/icons/eahm-logo-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media #{$sm,$md} {
    margin-top: 2rem;
    padding-bottom: 4rem;
    background-color: $bg-color;
  }

  .hashLinkStyling{
    color: $white;
    text-decoration: none;
    scroll-behavior: smooth;
    padding-top: 0.5rem;
    &:hover{
      font-weight: bold;
    }
    @media #{$sm,$xsm,$tiny} {
      font-size: 14px;
      overflow-wrap: break-word;
    }
    @media #{$md} {
      font-size: 18px;
      overflow-wrap: break-word;
    }
  }

  .nav-link{
    color: white;
    padding-top: 0.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  @media #{$sm,$xsm,$tiny} {
    padding-top: 1.5rem !important;
    padding-bottom: 1rem !important;
  }
  .listp{
    padding-top: 30px !important;
    @media #{$md} {
      padding-top: 0 !important;
    }
    @media #{$sm,$xsm,$tiny} {
      padding-top: 0 !important;
    }
  }
  .fdeco{
    text-decoration: none !important;
    @media #{$sm,$xsm,$tiny} {
      font-size: 14px !important;
      overflow-wrap: break-word;
    }
    @media #{$md} {
      font-size: 18px !important;
      overflow-wrap: break-word;
    }
  }
  .fdeco:hover{
    font-weight: bold;
  }
  //.ficon{
  //  padding: .7rem 0.6rem;
  //  border-radius: 100%;
  //  text-decoration: none !important;
  //  background-color: black;
  //  @media #{$sm,$xsm,$tiny} {
  //    font-size: 10px !important;
  //    padding: 0.4rem !important;
  //  }
  //}
  .FooterHeading{
    font-size: 18px;
    @media #{$sm,$xsm,$tiny} {
      font-size: 16px !important;
      margin: 0.5rem 0;
    }
    @media #{$md} {
      font-size: 20px !important;
      margin-top: 1rem !important;
    }
  }
  .footericonsize{
   color: white;
    margin-left: 0.5rem;
  }
}

.iconSize{
  font-size: 15px !important;
}

.socialIcon{
  padding: 0.5rem 0;
}

.footerlogo{
  width: 30%;
  @media #{$sm,$md} {
    width: 60%;
  }
}


.footer-bottom{

  margin-top: 5rem;
  background-color: black;
  padding: .7rem;

  p{
    margin-bottom: 0px;
    font-size: 14px;
    a{
      color: $white;
    }
  }
  .copyRight{
    padding-top: .5rem;
  }
}
