.footer-Wrape {
  color: black;
  padding-top: 3rem;
  background-color: #F8F8F8;
  @media #{$sm,$md} {
    padding-bottom: 0;
    padding-top: 2rem;
    background-color: #F8F8F8;
  }

  .hashLinkStyling{
    color: $white;
    text-decoration: none;
    scroll-behavior: smooth;
    padding-top: 0.5rem;
    &:hover{
      font-weight: bold;
    }
    @media #{$sm,$xsm,$tiny} {
      font-size: 14px;
      overflow-wrap: break-word;
    }
    @media #{$md} {
      font-size: 18px;
      overflow-wrap: break-word;
    }
  }

  .FooterContact{
    color: $bg-color;
    font-weight: 600;
    font-size: 25px;
  }

  .nav-link{
    color: black;
    padding-top: 0.5rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  .listp{
    padding-top: 30px !important;
    @media #{$md} {
      padding-top: 0 !important;
    }
    @media #{$sm,$xsm,$tiny} {
      padding-top: 0 !important;
    }
  }
  .fdeco{
    text-decoration: none !important;
    @media #{$sm,$xsm,$tiny} {
      font-size: 14px !important;
      overflow-wrap: break-word;
    }
    @media #{$md} {
      font-size: 18px !important;
      overflow-wrap: break-word;
    }
  }
  .fdeco:hover{
    font-weight: bold;
  }
  .FooterHeading{
    font-size: 18px;
    font-weight: 500;
    @media #{$sm,$xsm,$tiny} {
      font-size: 16px !important;
      margin-top: 1rem;
    }
    @media #{$md} {
      font-size: 20px !important;
      margin-top: 1rem !important;
    }
  }
  .footericonsize1{
    color:#EE6E11;
    margin-left: 0.5rem;
  }
  .footericonsize2{
    color: #00C2FF;
     margin-left: 0.5rem;
   }
   .footericonsize3{
    color: #FF0000;;
     margin-left: 0.5rem;
   }
   .footericonsize4{
    color: #3633FF;
     margin-left: 0.5rem;
   }
}

.iconSize{
  font-size: 15px !important;
}

.socialIcon{
  padding: 0.5rem 0;
  @media #{$sm} {
    text-align: center !important;
  }
  .socialText{
    color: black;
  }
}

.footerlogo{
  width: 30%;
  @media #{$sm,$md} {
    width: 60%;
  }
}


.footer-bottom{
  margin-top: 2rem;
  background-color: $bg-color;
  padding: .7rem;
  p{
    margin-bottom: 0px;
    font-size: 14px;
    a{
      color: $white;
    }
  }
  .copyRight{
    color: black;
    padding-top: .5rem;
    @media #{$sm} {
      text-align: center !important;
    }
  }
}

.footer-top{
  margin-top: 2rem;
  background-color: $bg-color;
  padding: .8rem;
  p{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
  }
  .registerButton{
    background: $white;
    text-transform: uppercase;
    border: none;
    border-radius: 60px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 3rem;
    &:hover {
      background: black;
      color: $bg-color;
    }
  }
  .copyRight{
    color: black;
    padding-top: .5rem;
    @media #{$sm} {
      text-align: center !important;
    }
  }
}
