.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
    z-index: 999999;
  //display: flex;
  //justify-content: flex-end;
  //padding-top: 1rem;
  //padding-bottom: 2rem;
  //padding-right: 4rem;
  @media #{$sm} {
    bottom: 4rem;
    right: 0.5rem;
  }
  .iconcolor{
    color: $white;
    &:hover{
      color: $white;
    }
  }
  .outer-circle {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);
      transform: scale(1.1);
      transition: all 0.3s;
    }
    .circle {
      background: $texts-color;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover{
        background: $texts-color2;
      }
    }
  }
  @media #{$sm} {
    padding-right: 1rem;
  }
}
