.ApplyOnline{
  padding-top: 3rem;
  @media #{$sm} {
    padding-top: 2rem;
  }
  .applyBackground {
    background-color: white;
    border-radius: 114px;
    box-shadow: 0px 4px 50px 0px #0000001A;
    padding: 1rem 2rem;
    @media #{$sm} {
      border-radius: 0;
      flex-direction: column !important;
    }
    p {
      font-size: 22px;
      font-weight: 500;
      @media #{$sm} {
        font-size: 18px;
        margin-bottom: 1rem !important;
      }
    }

    .btnstyleB {
      color: $white;
      font-size: 21px;
      font-weight: 500;
      border:none;
      // width: 250px;
      // height: 60px;
      padding: 1rem 2rem;
      border-radius: 58px;
      background: $bg-color;
      @media #{$sm,$lsm,$xsm,$tiny} {
        font-size: 16px;
      }
    }
  }
}