.ApplyOnline{
  padding: 5rem 0;
  margin-left: 4rem !important;
  h3{
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1rem;
    @media #{$sm,$lsm,$xsm,$tiny} {
      font-size: 25px;
    }
  }
  p{
    font-size: 25px;
    font-weight: 500;
    @media #{$sm,$lsm,$xsm,$tiny} {
      font-size: 18px;
    }
  }
  .btnstyleB{
    color: $white;
    font-size: 21px;
    font-weight: 500;
    border-bottom: 0 !important;
    //border-left: $border-left;
    //border-right: $border-right;
    //border-top: $border-top;
    width: 413px;
    height: 65px;
    border-radius: 9px;
    margin-left: 7rem;
    background: linear-gradient(to right,#0066CC  0%, #0099CC  100% );
    margin-top: 2%;
    @media #{$sm,$lsm,$xsm,$tiny} {
      width: 100%;
      margin-bottom: 2rem;
      margin-left: 0 !important;
    }
    @media #{$md} {
      margin-bottom: 2rem;
      margin-left: 0 !important;
    }
  }
  @media #{$sm,$lsm,$xsm,$tiny} {
    margin-left: 0 !important;
    padding: 2rem 0;
  }
  @media #{$md} {
    margin-left: 1rem !important;
    padding: 2rem 0;
  }
}